.classes-section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 180px;
    gap: 10px;
}

@media screen and (min-width: 100px) {
    /* xs */
    .classes-section {
        grid-template-columns: repeat(1, 1fr);
    }
}
  
@media screen and (min-width: 768px) {
    /* sm */
    .classes-section {
        grid-template-columns: repeat(1, 1fr);
    }
}
  
@media screen and (min-width: 991px) {
    /* md */
    .classes-section {
        grid-template-columns: repeat(2, 1fr);
    }
}
  
@media screen and (min-width: 1200px) {
    /* lg */
    .classes-section {
        grid-template-columns: repeat(3, 1fr);
    }
}